/*
CSS Reset
http://meyerweb.com/eric/tools/css/reset/
*/

.container {
  max-width: 1000px;
}

#case-studies {
  margin-top: 50px;
  display: table;
}

#case-studies p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

#case-studies h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}

#middle {
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
}

.navbar .container-fluid {
    margin-right: 25px;
}

img#logo {
    height: 50px;
    margin: 25px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.navbar-cab .navbar-nav>li>a, .navbar-cab .navbar-nav>li>a:hover, .navbar-cab .navbar-nav>li.active>a:hover {
  text-transform: uppercase;
  background-color: transparent;
  color: black;
  font-size: 0.8em;
}

.navbar-cab .navbar-nav>li>a:hover {
  font-weight: bold;
}

.navbar-cab .navbar-nav>li.active>a {
  background-color: transparent;
  color: #900000;
  font-weight: bold;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
    background-color: #222222;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 80%;
}

#case-studies a {
    position: absolute;
    bottom: 0;
}

#case-studies a span.glyphicon {
  font-size: 0.75em;
}


#case-studies div.row div {
    min-height: 480px;
    position: relative;
}

#case-studies i.fa {
    text-align: center;
    font-size: 4em;
    width: 100%;
    margin: 30px 0;
}

#team img {
  width: 70%;
  margin: auto;
  display: block;
}

#team h2 {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

#team h3 {
  font-size: 0.8em;
  text-align: center;
  margin: 10px auto 15px auto;
}


html, body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-size: 1.7em;
}

.container-fluid.no-margin {
    margin: -20px 0 0 0;
    padding: 0;
}

.navbar-cab {
    background-color: white;
    box-shadow: 0 2px 30px rgba(0,0,0,0.5);
}

#particles {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: #900000;
  position: relative;
  color: white;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
h1 {
  /* text-shadow: 2px 2px 7px rgba(0,0,0, 0.5); */
  font-size: 75px;
  font-weight: 500;
  letter-spacing: 0.015em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #900000;
  border-color: white;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 568px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }
}